[color]
	ui = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	verbose = true
[alias]
	root = rev-parse --show-toplevel
	statusvi = !vim \"+r! git status -s\" \"+set nomodified\"
[include]
	path = .gitconfig-local
[pull]
	rebase = true
